{{#d-modal-body title="pepplanner.calculator.title" class="pepplanner-modal"}}
  <div class="pepplanner-calculator-container">
    <h3>Peptide Calculator</h3>
    <div class="control-group">
      <label>Syringe Volume</label>
      {{combo-box content=syringeSizes value=syringeSize}}
    </div>
    
    <div class="control-group">
      <label>Peptide Amount (mg)</label>
      {{input type="number" value=peptideAmount class="input-small"}}
    </div>

    <div class="control-group">
      <label>Bacteriostatic Water (ml)</label>
      {{input type="number" value=waterAmount class="input-small"}}
    </div>

    <div class="control-group">
      <label>Desired Dosage (mcg)</label>
      {{input type="number" value=desiredDosage class="input-small"}}
    </div>

    <div class="result-area">
      <h4>Draw to:</h4>
      <div class="result-value">{{calculatedUnits}} units</div>
      <div class="result-value">{{calculatedTicks}} tics</div>
    </div>
  </div>
{{/d-modal-body}}
